@{

    MVC_07.AppData.KhizoOo ME = ViewBag.ME;

}

<style>
    .footer-16371 {
        font-family: "Poppins", sans-serif;
    }


        .footer-16371 .social ul li {
            display: inline-block;
            height: 40px;
        }

            .footer-16371 .social ul li a {
                display: inline-block;
                padding: 10px;
            }

            .footer-16371 .social ul li.in a {
                color: #df588a !important;
            }

            .footer-16371 .social ul li.tw a {
                color: #15b8ff !important;
            }

            .footer-16371 .social ul li.fb a {
                color: #3742d0 !important;
            }

            .footer-16371 .social ul li.dr a {
                color: #fa38c1 !important;
            }

            .footer-16371 .social ul li.pin a {
                color: #dd4d5a !important;
            }

            .footer-16371 .social ul li.sc a {
                color: #fffa1a !important;
            }

            .footer-16371 .social ul li.sp a {
                color: #62e7ff !important;
            }

            .footer-16371 .social ul li.tt a {
                color: #1e1b1c !important;
            }

        .footer-16371 .copyright {
            color: #999999;
        }

</style>

<footer class="footer-16371 ftco-bg-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 text-center">

                <div class="copyright">
                    <p class="mb-0"><small>- - - - - - - - - - - - - - - -</small></p>
                </div>

                <div class="social p-4">
                    <h3>Stay in touch</h3>
                    <ul class="list-unstyled" style="margin-bottom:0">
                        <li class="in"><a href="@ME.Instagram"><span class="icon-instagram"></span></a></li>
                        <li class="fb"><a href="@ME.Facebook"><span class="icon-facebook"></span></a></li>
                        <li class="tw"><a href="@ME.Twitter"><span class="icon-twitter"></span></a></li>
                        <li class="pin"><a href="@ME.Pinterest"><span class="icon-pinterest"></span></a></li>
                        <li class="dr"><a href="@ME.LinkedIn"><span class="icon-linkedin"></span></a></li>
                        <li class="sc"><a href="@ME.Snapchat"><span class="icon-snapchat"></span></a></li>
                        <li class="sp"><a href="@ME.Skype"><span class="icon-skype"></span></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>


@*<footer class="ftco-footer ftco-bg-dark ftco-section">

        <div class="container ">

            <div class="row">

                <div class="col col-lg-4">

                    <div class="ftco-footer-widget mb-4">

                        <h2 class="ftco-heading-2">Have a Questions?</h2>

                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">273, P-Block, Model Town, Lahore, Pakistan</span></li>
                                <li>
                                    <a href="#" style="margin-bottom: 0;"><span class="icon icon-phone"></span><span class="text">+92 300 16 83 396</span></a>
                                </li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">khizar.imtiaz@gmail.com</span></a></li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </footer>*@