@{

    MVC_07.AppData.KhizoOo ME = ViewBag.ME;

}

<!-- Navigation -->
<div class="fixed-top">
    <header class="topbar">
        <div class="container">
            <div class="row">
                <!-- social icon-->
                <div class="col-sm-12">
                    <ul class="social-network">
                        <li><a class="waves-effect waves-dark" href="@ME.Instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a class="waves-effect waves-dark" href="@ME.Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="waves-effect waves-dark" href="@ME.Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="waves-effect waves-dark" href="@ME.LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="waves-effect waves-dark" href="@ME.Pinterest"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
            <div class="container">
                <a class="navbar-brand" href="https://khizooo.com" style=" text-transform: uppercase; font-weight: 900; letter-spacing: 2px; font-size: 16px;">KHIZOOO.COM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="#">Artfulness</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Infographics</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Writings</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Toolsbox</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>


    </header></div>
<!-- Navigation -->